.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  /* margin: 0px 20px; */
  width: 127px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
nav {
  padding: 10px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.logo {
  display: flex;
  align-items: center;
}
.btncommon {
  display: inline-block;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 35px;
  padding: 0 16px;
  background-color: #337ab7;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
img {
  background-color: #f81214;
}
.logininbtn {
  background-color: #fcc000;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
.signupbtn {
  background-color: #337ab7;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.hero-section .left-col h1 {
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  line-height: 1;
}
.flexProps {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.hero-section {
  background: #518fbd;
  padding: 40px 0;
  margin-bottom: 40px;
}
.search-form {
  text-align: center;
  padding: 30px 0;
}
.search-form input {
  width: 757px;
  height: 95px;
  background: #ffffff;
  border: 1px solid #518fbd;
  border-radius: 55px;
  padding-left: 66px;
}
span.fieldWrapper {
  position: relative;
}
span.fieldWrapper button {
  position: absolute;
  right: 21px;
  top: 50%;
  height: 74px;
  border: 0;
  background: #fcc000;
  padding: 0 30px;
  border-radius: 40px;
  color: #fff;
  transform: translate(12px, -48%);
  font-weight: 700;
  font-size: 18px;
}
span.fieldWrapper img {
  position: absolute;
  top: 0;
  left: 18px;
}
.mobile-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 90px;
}
.qrimg {
  margin-bottom: 20px;
}
.mobile-playstore {
  margin-top: 20px;
  margin-bottom: 20px;
}
.features {
  background-color: #518fbd;
  padding: 40px 0;
  color: #fff;
}
.stores {
  gap: 80px;
}
.store-right {
  margin-top: 30px;

  flex: 1 1 0;
  width: 100%;
  max-width: 500px;
}
.store-right img {
  width: 100%;
  display: inline-block;
}
.menu {
  padding: 40px 0;
}
.menu-wrapper {
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.menu-content h5,
.menu-content p {
  margin-bottom: 10px;
}
.order-ads {
  margin-bottom: 40px;
}
ul li {
  list-style: none;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: black;
}
.footer {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.footer-logo {
  text-align: center;
}
.btncommon:hover {
  background-color: #fcc000;
}
.regular {
  width: 100%;
}
.bold {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #518fbd;
  margin-bottom: 10px;
}
.mobile-content {
  display: contents;
}
.store-h {
  font-weight: 700;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}
.menu-content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #518fbd;
  margin-top: 10px;
}
.ads-content h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #fcc000;
  margin-bottom: 10px;
}
.ads-content h3 {
  color: #f81214;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 10px;
}
.ads-content p {
  margin-bottom: 10px;
}
